/* GLOBAL */
body {
  max-width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  /* font-family: "Arial Narrow"; */
  font-family: "Times New Roman";
  background-color: #F4F4F4;
  color: black;
  box-sizing: content-box;
  scrollbar-width: none;
  line-height: 1.1;
}

#text {
/* position: absolute; */
transform: rotate(-5deg);
/* border: solid; */
}


a {
  text-decoration: underline;
}

/* MEDIA SPECIFIC */

#name
{
padding: 1.3vw;
}

#text {
  position: absolute;
  top: 1.3vw; left: 0;
  white-space: pre;
  padding: 1.3vw;
}

/* text */
body {
  font-size: 1.3vw;
}
