:root {
/* Z-INDEX LAYERS */
  --bottom-layer: 0;
  --top-layer: 10;

/* MARGINS */
  --margin: 0.5vw;

  --closed-tab-width: 2.5vw;
  --open-tab-width: 100%;

  --max-width-inner: 36vw;

  --font-size: 1.5vw;
}


/* GLOBAL */
body {
  font-size: var(--font-size);
  line-height: 110%;
  max-height: 100vh;
  overflow: hidden;
}

section {
height: 100vh;
max-height: 100vh;
overflow: auto;

scrollbar-width: none;
}

section::-webkit-scrollbar {
  display:none;
}



/* Z-INDEX LAYERS */
header, main {z-index: var(--bottom-layer)}
.prjarrow {z-index: var(--top-layer)}


/* TEXT STYLE*/
.contact_link, .project-link {font-style: italic;}



/* SECTION LEFT */

.contact_link {
padding-left: calc(var(--margin)*1.5)}

#lk, #name {
cursor:url(assets/img/clown.png), auto;
}

#text {
margin-top: calc(var(--font-size)*2);
}

#text, #me{
padding-right: var(--margin);
padding-bottom: var(--margin);
}

button { background: none; outline: none; cursor: pointer;
font-style: italic;
border: none;
}

#section_left a {color: white}

#clickarrow {
  padding-left: 20;
  text-decoration: none;
  animation: arrow-click 1s infinite;
  }

  @keyframes arrow-click {
    0% {
          margin-left: 0;
    }
    50% {
          margin-left: 10;
         }
    100% {margin-left: 0}
  }

.hidden {display: none}

.paragraph, .p1 {
/* line-height: 1.1; */
  margin-bottom: 0.2em;
  }

#p4 {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
        -webkit-filter: blur(10px);
  }
    to {
        -webkit-filter: blur(0px);
       }
}

#p19b {
  background: linear-gradient(to right, #283de5 0%, #283de5 50%, #000000 100%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    -webkit-animation: p19coloranimation 2s ease-in-out;
    -moz-animation: p19coloranimation 2s ease-in-out;
    animation: p19coloranimation 2s ease-in-out;
    -webkit-transition: p19coloranimation 2s ease-in-out;
  -moz-transition: p19coloranimation 2s ease-in-out;
  -ms-transition: p19coloranimation 2s ease-in-out;
  -o-transition: p19coloranimation 2s ease-in-out;
  transition: p19coloranimation 2s ease-in-out;
}

@-webkit-keyframes p19coloranimation {
    0%{background: linear-gradient(to right, #000000 0%, #000000 50%, #000000 100%);
      	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
      }

    100%{background: linear-gradient(to right, #283de5 0%, #283de5 50%, #000000 100%);

      	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
      }
}



/* SECTION RIGHT */

/* .hidden {display: none} */

header, #section_left {background-color: black; color: white}

.choice{
    height: 100vh;
    box-sizing: border-box;
    float: left;
    transition: width 0.4s;
    display: flex;
}

/* SETS DIMENSIONS IN THE DIFFERENT MODES */
.expand {
  width :var(--open-tab-width);
 }

.unset, .small {
  width: var(--closed-tab-width); cursor: pointer;
  background-color: #d7d9ce;
  font-size: 1em;
}

.unset:hover, .small:hover {  width: 7vw; }

/* HIDES / SHOWS STUFF IN THE DIFFERENT MODES */

.small > .project_content { display: none; }

.unset > .project_content { display: none; }

.expand > div {
  transition-delay:  200ms;
  display: block; }


/* PROJECT INDEX */
.project-index-container {
width: var(--closed-tab-width);
height: 100vh;
max-height: 100vh;
position: relative;}

.project-index {
  position: relative;
  width: calc(100vh - 0.5vw);
  padding: 0 var(--margin) 0 var(--margin);
  display: flex;
  justify-content: space-between;

  -ms-transform: rotate(90deg)translate(calc(var(--closed-tab-width)*-0.9), 0vw);
      -webkit-transform: rotate(90deg)translate(calc(var(--closed-tab-width)*-0.9), 0vw);
      transform: rotate(90deg)translate(calc(var(--closed-tab-width)*-0.9), 0vw);
transform-origin: bottom left;
overflow: hidden;
}

.project-index-title {text-transform: uppercase;}

.project-index-title, .project-index-year, .project-index-category {
   line-height: var(--closed-tab-width);
 }

.project-index-year {left: 50%; transform:translate(-100%,0);
  position: absolute;}


 /* PROJECT CONTENT */

 .prjarrow {
position: absolute;
z-index: 1000;
 /* right: var(--margin); */
 /* top: 20%; */
top: 0;
right: var(--margin);
 animation: arrow-scroll 2s infinite;
 color: white;
 /* -webkit-text-stroke-width: 0.5px; */
  /* -webkit-text-stroke-color: black; */
 }

 @keyframes arrow-scroll {
   0% {
   top: 20%;
   }
   /* 50% {
         margin-left: 10px;
        } */
   100% {top: 50%;}
 }



.project-text {
  /* padding-right: var(--margin); */
  margin: 1em 0 1em 0;
  position: relative;
  /* max-width:27vw; */
  max-width: var(--max-width-inner);
}

.project_content {
  padding-bottom: var(--margin);

  scrollbar-width: none;

  overflow-x: hidden;
  width: 100%;
}

.project_content::-webkit-scrollbar {
  display:none;
}

.img_container {
  width: 100%;
  position: relative;
  text-align: center;
}

.imgstandard {
  min-height: 45vh;
  max-height: 45vh;
  text-align: center;
}

.imgstandard img {
  transition-duration: 1s;
}

.imgstandard img:hover {
  width: 110%;
  transform:translate(-5%, 0)
}


.pasta1 {
  min-height: 40vw;
  max-height: 40vw;
  object-fit: contain
}

.pasta2 {
  min-height: 30vh;
  max-height: 30vh;
}

.video_container {
  width: 100%;
  height: 26vw;
  position: relative;
  margin-bottom: var(--margin);
}


/* .anto {
  min-height: 24vw;
  max-height: 24vw;
} */

.venus1 {
  min-height: 30vw;
  max-height: 30vw;
}

.venus2 {
  min-height: 40vh;
  max-height: 40vh;
}

.breaking1 {
  min-height: 30vw;
  max-height: 30vw;
}

.breaking2 {
  min-height: 50vh;
  max-height: 50vh;
}

.breaking3 {
  min-height: 40vh;
  max-height: 40vh;
}

.project-credits-container {
margin: 0;
max-width: var(--max-width-inner);
display: grid;
grid-template-columns: 1fr 1fr;
}

.project-credits {display: inline-grid;}

.project-credits p, .project-links-container p {margin-bottom: 0;}


.project-links-container {
max-width: var(--max-width-inner);
/* max-width:27vw; */
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;}

.project-link {display: inline-grid;}

/* .project-text-container {

background: yellow;
width: 50vw;
height: 100vh;} */


/* NON HO USATO PIù UN CONTAINER PER LE IMMAGINI */

/* .project-img-container {
position: relative;
height: 20vh;
border: solid;
display: block;
object-fit: fill;
} */

img {
  position: relative;
  width:100%;
  object-fit: cover;
  text-align: center;
  margin: auto;
}




/* #mobile-text-container {display: none} */
#contacts_mobile {display: none}



iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
