:root {
/* Z-INDEX LAYERS */
  --bottom-layer: 0;
  --top-layer: 10;

/* MARGINS */
  --margin: 1vw;

  --header-height: 4vw;

  --closed-tab-width: 4vw;
  --open-tab-width: 81vw; /*inesatto*/

  --background: #b1d8e5;
  /* --background: #c9c8e3; */

  /* --stroke: 3.15px; */
}


/* FONT */
@font-face {
    font-family: "Suisse Intl";
    src: url("./assets/font/SuisseIntl-Regular.otf"),
   url("./assets/font/SuisseIntl-Regular.otf") format("embedded-opentype"),
   url("./assets/font/SuisseIntl-Regular.ttf") format("truetype"),
   /* url("./assets/font/SuisseIntl-Regular.otf") format("woff"),
   url("./assets/font/SuisseIntl-Regular.otf") format("woff2"), */
   /* url("./assets/font/SuisseIntl-Regular.otf") format("svg"), */
   url("./assets/font/SuisseIntl-Regular.woff2") format("woff2"),
   url("./assets/font/SuisseIntl-Regular.woff") format("woff"),
   ;
   font-weight:normal;
    font-style: normal;
  }



/* GLOBAL */
body {
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* font-weight: normal; */
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Suisse Intl";
  /* font-family:"Times new Roman"; */
  box-sizing: content-box;
  scrollbar-width: none;
  font-size: 16px;
}

body::-webkit-scrollbar {
  display: none;
}

section {
overflow-x: hidden;
height: 100vh;
overflow: auto;

scrollbar-width: none;
}

section::-webkit-scrollbar {
  display:none;
}



/* Z-INDEX LAYERS */
header, main {z-index: var(--bottom-layer)}
.prjarrow {z-index: var(--top-layer)}


/* TEXT STYLE*/

a {color: black;}

a:hover {color: #283de5;}

/* NOME HEADER, INDICE PROGETTI E TESTO PROGETTO */
#name, .project-index, .project-text {font-size: 1.1rem;}

/* CONTATTI HEADER */
.contact_link {font-size: 1rem;, line-height: -1.1;}

/* PARAGRAFI SX */
.paragraph, .p1, button, .arrow, .prjarrow {font-size: 2rem;}

/* CblueITI PROGETTI */
.project-credits, .project-link {font-size: 0.9rem;}

/* LINK HEADER E PRJ */
.contact_link, .project-link {font-style: italic;}



/* SECTION LEFT */

/* HEADER */
header {
top: 0;
padding: var(--margin);
/* border-bottom: solid var(--stroke); */
border-bottom: solid 2px black;
height: var(--header-height);
position: fixed;
width: 50vw;
background-color: white;
}

/* #name {float: left;} */

#contacts {
  /* float: right; */
  text-transform: uppercase;
}

.contact_link {
  padding-left: 1vw;}

#lk, #name {
cursor:url(assets/img/clown.png), auto;
}


main {
position: relative;
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 0;
}

#me {display: flex; }

#text {
margin-top: 4vw;
}

#text, #me{
padding-left: var(--margin);
padding-right: var(--margin);
padding-bottom: var(--margin);
padding-top: 0.8rem;

/* font-weight: 100; */
}

button { background: none; outline: none; cursor: pointer;
font-style: italic;
border: none;
/* text-decoration: underline; */
 color: blue;}

#clickarrow {
  padding-left: 20;
  text-decoration: none;
  animation: arrow-click 1s infinite;
  }

  @keyframes arrow-click {
    0% {
          margin-left: 0;
    }
    50% {
          margin-left: 10;
         }
    100% {margin-left: 0}
  }

/* button {border: solid;
  padding: var(--margin);
outline: none;
text-transform: uppercase;
text-decoration: none;
background: none;
} */

.hidden {display: none}


.paragraph, .p1 {
line-height: 1.1;
  margin-bottom: 0.2rem;
  }

#p4 {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
        -webkit-filter: blur(10px);
  }
    to {
        -webkit-filter: blur(0px);
       }
}

#p19b {
  background: linear-gradient(to right, #283de5 0%, #283de5 50%, #000000 100%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    -webkit-animation: p19coloranimation 2s ease-in-out;
    -moz-animation: p19coloranimation 2s ease-in-out;
    animation: p19coloranimation 2s ease-in-out;
    -webkit-transition: p19coloranimation 2s ease-in-out;
  -moz-transition: p19coloranimation 2s ease-in-out;
  -ms-transition: p19coloranimation 2s ease-in-out;
  -o-transition: p19coloranimation 2s ease-in-out;
  transition: p19coloranimation 2s ease-in-out;
}

@-webkit-keyframes p19coloranimation {
    0%{background: linear-gradient(to right, #000000 0%, #000000 50%, #000000 100%);
      	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
      }

    100%{background: linear-gradient(to right, #283de5 0%, #283de5 50%, #000000 100%);

      	-webkit-background-clip: text;
      	-webkit-text-fill-color: transparent;
      }
}



/* SECTION RIGHT */

#section_right {display: flex;}

/* .hidden {display: none} */



.container{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    /* border-left: solid var(--stroke); */
    border-left: solid 2px black;
}

.choice{

    /* height: 100vh; */
    box-sizing: border-box;
    /* overflow: hidden; */
    float: left;
    /* align-items: center; */
    transition: width 0.4s;

    /* border-right: solid var(--stroke); */
    border-right: solid 2px black;

    display: flex;

}

/* SETS DIMENSIONS IN THE DIFFERENT MODES */

.expand {
  width :var(--open-tab-width);
 }

.unset, .small {
  width :10vw; cursor: pointer;
}

.unset:hover, .small:hover {
  width: 13vw
}

/* HIDES / SHOWS STUFF IN THE DIFFERENT MODES */

.small > .project_content { display: none; }

.unset > .project_content { display: none; }

.expand > div {
  transition-delay:  200ms;
  display: block; }



/* PROJECT INDEX */

.project-index-container {
width: var(--closed-tab-width);
height: 100vh;
position: relative;
/* background: green; */
float: left;}

/* .project-index {
  position: relative;
  width: 90vh;
  padding-right: var(--margin);
  display: table;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
transform-origin: bottom left;
overflow: hidden;
} */

.project-index {
  position: relative;
  width: 100vh;
  padding: 0 var(--margin) 0 var(--header-height);
  display: table;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-transform: rotate(90deg)translate(-4vw, 0vw);
      -webkit-transform: rotate(90deg)translate(-4vw, 0vw);
      transform: rotate(90deg)translate(-4vw, 0vw);
transform-origin: bottom left;
overflow: hidden;
}

.project-index-title, .project-index-year, .project-index-category {
  /* background-color: blue; */
  display: inline-grid;
   line-height: var(--closed-tab-width);
   margin-bottom: 0;
 }

.project-index-title { float: left; transform:translate(0.1vw, 0);}

.project-index-year {left: 50%; transform:translate(-100%,0);
  position: absolute;}

.project-index-category {float: right;
}



 /* PROJECT CONTENT */

 .prjarrow {
position: absolute;
z-index: 1000;
 /* right: var(--margin); */
 /* top: 20%; */
top: 0;
right: var(--margin);
 animation: arrow-scroll 2s infinite;
 color: white;
 /* -webkit-text-stroke-width: 0.5px; */
  /* -webkit-text-stroke-color: black; */
 }

 @keyframes arrow-scroll {
   0% {
   top: 20%;
   }
   /* 50% {
         margin-left: 10px;
        } */
   100% {top: 50%;}
 }



.project-text {
  /* padding-right: var(--margin); */
  margin-top: var(--margin);
  position: relative;
  max-width:27vw;
}

.project_content {
  overflow: auto;
  padding-bottom: var(--margin);

  scrollbar-width: none;

  overflow-x: hidden;
  width: 100%;
}

.project_content::-webkit-scrollbar {
  display:none;
}

.img_container {
  width: 100%;
  position: relative;
  text-align: center;
}

.imgstandard {
  min-height: 40vh;
  max-height: 40vh;
  text-align: center;
}

.imgstandard img {
  transition-duration: 1s;
}

.imgstandard img:hover {
  width: 110%;
  transform:translate(-5%, 0)
}


.pasta1 {
  min-height: 40vw;
  max-height: 40vw;
}

.pasta2 {
  min-height: 30vh;
  max-height: 30vh;
}

.video_container {
  width: 100%;
  height: 16vw;
  position: relative;
  margin-bottom: var(--margin);
}

/* .anto {
  min-height: 24vw;
  max-height: 24vw;
} */

.venus1 {
  min-height: 30vw;
  max-height: 30vw;
}

.venus2 {
  min-height: 40vh;
  max-height: 40vh;
}

.breaking1 {
  min-height: 30vw;
  max-height: 30vw;
}

.breaking2 {
  min-height: 50vh;
  max-height: 50vh;
}

.breaking3 {
  min-height: 40vh;
  max-height: 40vh;
}

.project-credits-container {
margin: 0;
max-width:27vw;
display: grid;
grid-template-columns: 1fr 1fr;}

.project-credits {display: inline-grid;}

.project-credits p, .project-links-container p {margin-bottom: 0;}


.project-links-container {
max-width:27vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;}

.project-link {display: inline-grid;}

/* .project-text-container {

background: yellow;
width: 50vw;
height: 100vh;} */


/* NON HO USATO PIù UN CONTAINER PER LE IMMAGINI */

/* .project-img-container {
position: relative;
height: 20vh;
border: solid;
display: block;
object-fit: fill;
} */

img {
  position: relative;
  width:100%;
  object-fit: cover;
  text-align: center;
  margin: auto;
}





/* PROVE COLORI */
/* .choice, header {background-color: #c3e3f4;} */
/* header {background-color: #f9bfff;} */
/* #text {background-color: #edffbf;} */


/* body, header {background-color: var(--background)} */
/* body {background-color: #70ffa9;} */

/* .choice, header {background-color: #c3e3f4;} */

/* #text {background-color: #c3e3f4;} */

/* #prj1 {background-color: #b4dbcd}
#prj2 {background-color: #bca7d0}
#prj3 {background-color: #eae5ab}
#prj4 {background-color: #abbedc}
#prj5 {background-color: #b4dbcd} */



/* #mobile-text-container {display: none} */
#contacts_mobile {display: none}



iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
