:root {
/* LAYERS Z-INDEX */
  --bottom-layer: 0;

/* MARGINS */
  --margin: 4vw;

  --header-width: 4vw;

  --stroke: 1px;

  --background: #b1d8e5;
}


/* FONT */
@font-face {
    font-family: "Suisse Intl";
    src: url("./assets/font/SuisseIntl-Regular.otf"),
   url("./assets/font/SuisseIntl-Regular.otf") format("embedded-opentype"),
   url("./assets/font/SuisseIntl-Regular.otf") format("truetype"),
   url("./assets/font/SuisseIntl-Regular.otf") format("woff"),
   url("./assets/font/SuisseIntl-Regular.otf") format("woff2"),
   url("./assets/font/SuisseIntl-Regular.otf") format("svg"),
   url("assets/font/SuisseIntl-Regular.woff2") format("woff2"),
   url("assets/font/SuisseIntl-Regular.woff"),
   local("Suisse Intl");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }


/* #text, #btn-container, #section_right {display: none} */
#mobile-text-container {display: none;}

/* GLOBAL */

body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Suisse Intl";
  box-sizing: content-box;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

section {
overflow-x: hidden;
height: 100vh;
overflow: auto;
}

main {width: 100vw; }


#mobile-text-container {padding: var(--margin); margin-top: 10vh;}

body, header {background-color: var(--background);}

/* HEADER */
header {
top: 0;
padding: var(--margin);
border-bottom: solid var(--stroke);
/* height: 8vh; */
height: auto;
position: fixed;
width: 100vw;
}

#name {
  float: left; text-transform: uppercase;
  margin: 0;}

#contacts {
  float: right;}

.contact_link {
  padding-left: 1vw;}

.contact_link, #name {
cursor:url(assets/img/clown.png), auto;
}


/* TEXT STYLE*/

a {color: black;}

#name, contact_link {font-size: 5vw;}

.paragraph,#p1, button, #clickarrow {font-size: 6vw}


#contact_link:hover, #contact_link:focus {font-weight: bolder; color: black}

.contact_link, .project-link {font-style: italic;}


/* SECTION LEFT */
#section_left {
max-width: 88vw;
margin-top: 15vw;}

.paragraph {line-height: 1.4;
margin-top: 5px;}

/* SECTION RIGHT */
#section_right_container {display: none}

#section_right {
  width: 12vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-left: solid var(--stroke);
  background-color: var(--background);
}



/* SECTION LEFT */
#me {display: flex; }

#text, #me{
margin-top: 3vw;
padding-left: var(--margin);
padding-right: var(--margin);
padding-bottom: var(--margin);
padding-top: 10px;
}

button {border: none; background: none; outline: none; cursor: pointer;
font-style: italic; text-decoration: underline; color: blue; padding: none;
transform:translate(-4px, 0);}

#arrow {
  padding-left: 20px;
  text-decoration: none;
  animation: arrow-click 1s infinite;
  }

  @keyframes arrow-click {
    0% {
          margin-left: 0px;
    }
    50% {
          margin-left: 10px;
         }
    100% {margin-left: 0px}
  }

.hidden {display: none}


#p4 {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
        -webkit-filter: blur(10px);
  }
    to {
        -webkit-filter: blur(0px);
       }
}




/* CLICK ARROW */
#clickarrow {
  padding-left: 20px;
  text-decoration: none;
  animation: arrow-click 1s infinite;
  }

  @keyframes arrow-click {
    0% {
          margin-left: 0px;
    }
    50% {
          margin-left: 10px;
         }
    100% {margin-left: 0px}
  }



/* CONTACTS */
#contacts {display: none}

#contacts_mobile {
position: relative;
top: -12vw;
margin-top: var(--margin);
/* padding-left: 7vw; */
right: 0;
width: 90vh;
max-width: 90vh;
-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);


transform-origin: bottom left;
overflow: hidden;

line-height: 12vw;


/* display: grid;
grid-template-columns: 1fr 1fr 1fr; */

/* border: solid; */

}
.contact_link {display: inline-grid;
font-size: 13px;
padding-right: 10px;}

/* #lk {float: right;
text-align: right;}

#ig {text-align: center;} */
